@page "/"
@page "/home"
@layout MainLayout
@inherits Blackmail.Pages.HomeComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.Blackmailazure
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@using Microsoft.AspNetCore.Authorization


<RadzenContent Container="main">
  <ChildContent>
    <div style="height: 118px; text-align: center" class="row">
      <div class="col-md-12" style="text-align: center">
        <RadzenImage Path="https://i.imgur.com/WhWoRso.png" style="text-align: center; width: 618px">
        </RadzenImage>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
