@page "/"
@page "/home"
@layout MainLayout
@inherits Blackmail.Pages.HomeComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.Blackmailazure
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@using Microsoft.AspNetCore.Authorization


<RadzenContent Container="main">
  <ChildContent>
    <div style="height: 118px; text-align: center" class="row">
      <div class="col-md-12" style="text-align: center">
        <RadzenImage Path="https://i.imgur.com/WhWoRso.png" style="text-align: center; width: 618px">
        </RadzenImage>
      </div>
    </div>
    <div class="row justify-content-center" style="height: 71px">
      <div class="col-md-12  d-flex justify-content-around" style="position: relative; text-align: center">
        <RadzenImage Path="https://i.imgur.com/qNas47U.png" style="display: flex; height: 41.296875px; position: relative; text-align: left; vertical-align: middle; width: 340px" Click="@Image2Click">
        </RadzenImage>
        <RadzenImage Path="https://i.imgur.com/Rue8hta.png" style="display: flex; height: 38.21875px; position: relative; text-align: right; width: 346px" Click="@Image1Click">
        </RadzenImage>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
