@page "/login"
@layout MainLayout
@inherits Blackmail.Pages.LoginComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.BlackmailDb
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@using Microsoft.AspNetCore.Authorization


@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> L
<form method="post" action="account/login">
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Login to Add or Remove Blackmail">
    </RadzenHeading>
    <RadzenLogin Register="@Login0Register">
    </RadzenLogin>
  </ChildContent>
</RadzenContent>
</form>
