@inherits Blackmail.Layouts.HomeLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.BlackmailDb
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<HomeLayout> L
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle>
        </RadzenSidebarToggle>
        <RadzenLabel Text="Blackmail">
        </RadzenLabel>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenMenu>
          <ChildContent>
            <RadzenMenuItem Text="Home" Path="home" Visible="@Security.IsInRole(new string[]{"Authenticated", "Everybody"})">
            </RadzenMenuItem>
            <RadzenMenuItem Text="All Blackmail" Path="all-blackmail" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Submit Blackmail" Path="submit-blackmail" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Login" Path="login" Visible="@Security.IsInRole(new string[]{"Everybody"})">
            </RadzenMenuItem>
          </ChildContent>
        </RadzenMenu>
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0" style="margin-left: 0px">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="Blackmail, Copyright Ⓒ 2020">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
